h2.demo-title > a {
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.2s ease, color 0.2s ease;
    cursor: pointer;
    user-select: none;
    margin-right: 5px;
}
h2.demo-title:hover > a {
    opacity: 1;
}